<html>
  <head>
    <title>Ja i caly moj swiat</title>
  </head>
  <h1>Lubie bardzo programować w pythonie</h1>
  <h2>Jestem gdzie jestem bo tutaj jest moje miejsce</h2>
  <em>Bardzo, ale to bardzo lubie bąbllw</em>
  <div>
    <h1>DDD</h1>
    <a href="https://djangogirls.org">link</a>
    <ul><li>pierwsza pozycja</li><li>druga pozycja</li></ul>
  </div>
  <p>Hej</p>
  <p>JESTEM W 7 Niebie</p>


  <div>
    <h1><a href="/">Ja jebengo Girls Blog</a></h1>
  </div>

  {% for post in posts %}
  <div>
    <p>published: {{ post.published_date }}</p>
    <h1><a href="">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
  </div>
  {% endfor %}
</html>
